.container-projeto {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    h1 {
        margin-top: 40px;
    }
}

.header-conatiner {
    display: flex;
    justify-content: center;
}

.header-conatiner h1 {
    text-shadow: 2px 2px 2px #000;
    font-family: cursive;
    font-size: 36px;
    text-align: center; 
}

.button-style-projeto {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px; /* Adiciona um espaçamento superior */
}

@media screen and (max-width: 768px) {
    .header-conatiner h1 {
        font-size: 24px; /* Reduz o tamanho da fonte do título para telas menores */
    }

    .button-style-projeto {
        flex-direction: column; /* Altera a direção dos botões para coluna */
        align-items: center; /* Centraliza os botões na horizontal */
    }

    .button-style-projeto button {
        margin-bottom: 10px; /* Adiciona espaçamento entre os botões */
    }

    .container-projeto {
        padding: 10px; /* Reduz o espaçamento interno para dispositivos menores */
    }

    .container-projeto h1 {
        margin-top: 300px; /* Ajusta a margem superior para telas menores */
    }
}
