.container-gestao2 {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 50%;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

.retangulo-gestao-editar {
    display: flex;
    padding: 10px;
    width: 90%;
    height: 100%;
    background-image: url('../../../img/pcDev.png');
    background-color: #a1a1a1;
    background-position: right center;
    background-size: auto;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 0 10px 0px #000000;

    .ant-form {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        min-width: 450px;
        max-width: 500px;

        .ant-form-item-control-input-content {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

        Button {
            flex: 1;
            max-width: none;
            width: auto;
        }
    }
}
