.alert-right {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 250px;
    justify-content: flex-end;
}

.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url('../../../img/programador-e-desenvolvedor-de-sites-wordpress-3da1.png');
    background-position: center;
    background-size: contain;
    background-repeat : no-repeat;
}

.button-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.container-from {
    background-color: transparent;
    h1 {
        background-color: transparent;
    }
    form {
        background-color: transparent;
    }
}

a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #0044fd;
    margin: 10px;
    font-size: 25px;
}