.alert-right {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 250px;
    justify-content: flex-end;
}

.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url('../../../img/espaço.gif');
    background-position: center;
}

.button-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.container-from {
    background-color: transparent;
    h1 {
        background-color: transparent;
    }
    form {
        background-color: transparent;
    }
}

a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    margin: 10px;
}