.container-upload-imagem {
    width: 100%;
    display: flex;
    align-items: center;
    .ant-form {
        flex-direction: column;
        display: flex;
    }
    
}
.container-adicionar-projeto {
    justify-content: center;
    display: flex;
    width: 50%;
    img {
        margin-bottom: 15px;
        object-fit: contain;
    }
}
.container-editar-projeto {
    width: 50%;
    display: flex;
}

