.header-container {
    display: flex;
    background-color: #2c2c2c;
    width: 100%;
    position: fixed;
    top: 0;
}

.header-text {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    margin-right: 60px;
}

.header-img {
    display: flex;
    margin-left: 20px;
    padding: 10px;
}

.body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url('../../img/body.jpg');
    background-size: cover;
    background-position: center;

}

.body-text {
    width: 50%;
}

@keyframes quedaDoCeu {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.texto-animado {
    animation: quedaDoCeu 1.5s ease infinite;
}

.titulo-animado h1 {
    transition: transform 0.4s ease; /* Adiciona transição suave para a mudança de tamanho */
}

.titulo-animado:hover h1 {
    transform: scale(1.2); /* Aumenta o tamanho do título em 20% quando o mouse passa por cima */
}
