*,span , h1 , from , a , svg ,div, label {
    margin: 0;
    padding: 0;
    background-color: transparent;
}
h1 {
    font-size: 40px;
}

.body-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.vsc-initialized {
    display: flex;
    flex-direction: column;
}


p {
    font-size: 20px;
    text-align: justify;
    text-indent: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: transparent;
}

h2 {
    margin-top: 20px;
    margin-right: 80px;
    margin-bottom: 20px;
}


